.imageGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  // overflow: hidden;
  animation: slideBackAndForth 60s linear infinite;
  animation-delay: calc(var(--delay) * 0.1s);
}

.row2 {
  display: flex;
  // overflow: hidden;
  animation: slideBackAndForth2 60s linear infinite;
  animation-delay: calc(var(--delay) * 0.1s);
}

.image {
  width: 179px;
  max-width: 100%;
  object-fit: cover;
  margin: 0 11px 11px 0;
}

@keyframes slideBackAndForth {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-700px);
  }
}

@keyframes slideBackAndForth2 {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(-700px);
  }
  50% {
    transform: translateX(0);
  }
}
